/* css reset styling*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset styling*/

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lobster', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 50%;  
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#main-img {
  width: 95%;
  height: auto;
  border-radius: 25px;
}

.left-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5%;
  padding-bottom: 2%;
}

#main-icon {
  width: 8%;
  height: auto;
  margin-right: 10px;
}

#main-title {
  font-size: 22px;  
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.left-subtitle {
  margin-top: 4%;
  margin-left: 18%;
}

#sub-title {
  font-size:xx-large;
  font-weight: bold;
}

#sub-info {
  font-size: 16px;
  margin-top: 2%;
}

.form-container {
  display: flex;
  justify-content: flex-end;

}

form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4%;
  margin-left: 10%;
  border-radius: 25px;
}


.first-name,
.last-name,
.birth-date,
.email,
.password,
.confirm-password {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin:2%;
}

input {
  margin: 6px 0;
  border-radius: 10px;
  padding: 10px;
  border-width: thin;
  font-size: 16px;
  font-family: inherit;
}